.default {
    color: #1F2937;
    background-color: #F3F4F6;
    padding: 4px 8px;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 5px;

}

.primary {
    color: #3730A3;
    background-color: #E0E7FF;
    padding: 4px 8px;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 5px;

}

.secondary {
    color: #047857;
    background-color: #d1fae5;
    padding: 4px 8px;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 5px;
}

.success {
    color: #065F46;
    background-color: #D1FAE5;
    padding: 4px 8px;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 5px;

}

.warning {
    color: rgb(146 64 14);
    background-color: rgb(255 237 208);
    padding: 4px 8px;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 5px;
}

.danger {
    color: #991B1B;
    background-color: #FEE2E2;
    padding: 4px 8px;
    margin-left: 0.25rem;
    text-align: center;
    border-radius: 5px;
}